
/*cabeçalho*/
.header{
    background-color: var(--main_color);
    height: var(--altura_header) * 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*menu cabeçalho*/
.menu_1{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
    position: relative;
    justify-content: center;
    width: auto;
}

.menu_1-submenu{
    display: none;
    position: absolute;
    top: calc(100%);
    color: var(--second-color);
    text-decoration: none;
    list-style: none;
    text-align: start;
    background-color: var(--third_color);


}

.menu_1-submenu li{
    width: 100%;
    height: 100%;
}

.menu_1-submenu li a{  
    display: block;
    width: 100%;
    height: 100%;
    margin: -1.5rem 0rem;
}

/*elemento*/
.menu_1 li{
    padding: 1.5rem 0rem;
}

/*link*/
.menu_1 a{
    height: 100px;
    padding: 24px;
    text-decoration: none;
    color: var(--second-color);
}

.menu_1 a:hover, .menu_1 a:focus{
    background-color: var(--main-hover-color);
    color: var(--main_color);
}

.menu_1 li:hover ul, .menu_1 li:focus ul{
    display: block;

}

.menu_1-submenu:hover, .menu_1-submenu:focus{
    cursor: pointer;
}