
/*cabeçalho*/
.header{
    background-color: var(--main_color);
    height: var(--altura_header) * 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*menu cabeçalho*/
.menu_1{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
    position: relative;
    justify-content: center;
}

/*elemento*/
.menu_1 li{
    padding: 1.5rem 0rem;
}

/*link*/
.menu_1 a{
    height: 100px;
    padding: 24px;
    text-decoration: none;
    color: beige;
}

.menu_1 a:hover{
    background-color: var(--main-hover-color);
    color: var(--main_color);
}
