@import url(style.css);
@import url(header.css);
@import url(estrutura.css);
@import url(footer.css);
@import url(botão_top.css);
 
.div_imagem{
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.horizontal{
    padding: 10px;
    margin-right: 10px;
    margin-left: 10px;
    width: 70vw;
    max-width: 200px;
}

h4{
    text-align: center;
}