@import url(style.css);
@import url(header.css);
@import url(estrutura.css);
@import url(footer.css);
@import url(botão_top.css);
 
.div_imagem{
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.horizontal{
    padding: 10px;
    margin-right: 10px;
    margin-left: 10px;
    width: 70vw;
    max-width: 240px;
}

h4{
    text-align: center;
}

.links li{
    padding: 20px;
}

.links li a{
    border-radius: 5px;
    padding: 5px;
}

.links li a:hover{
    background-color: var(--main_color);
    color: var(--second-color);
}