@import url(style.css);
@import url(header.css);
@import url(estrutura.css);
@import url(footer.css);
@import url(botão_top.css);
 
.div_imagem{
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.acervo-imagem{
    padding: 10px;
    margin-right: 10px;
    margin-left: 10px;
    width: 240px;
    cursor: pointer;
    height: 100%;
}

.acervo-imagem:hover{
    border: 3px solid var(--main_color);
    padding: 0px;
}

h4{
    text-align: center;
}

.links li{
    padding: 20px;
}

.links li a{
    border-radius: 5px;
    padding: 5px;
}

.links li a:hover{
    background-color: var(--main_color);
    color: var(--second-color);
}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    justify-content: center;
    align-items: center;
}

/*Imagem dentro do modal*/
.modal img{
    width: 60%;
    height: 80%;
}

/* Fechar o modal (botão X) */
.fechar {
    position: absolute;
    top: 15px;
    right: 35px;
    color: var(--second-color);
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.fechar:hover, .fechar:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
